# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = tab
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false
tab_width = 4

[*.{axs,axi}]

charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = tab
tab_width = 4
trim_trailing_whitespace = true

[*.md]

trim_trailing_whitespace = false

[*.{yml,yaml}]

tab_width = 2
