[submodule "module/Extron/ExtronSSP"]
	path = module/Extron/ExtronSSP
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.ExtronSSP.git
[submodule "module/AMX/EnovaDVX"]
	path = module/AMX/EnovaDVX
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.EnovaDVX.git
[submodule "module/AMX/EnovaDGX"]
	path = module/AMX/EnovaDGX
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.EnovaDGX.git
[submodule "module/iiyama/IiyamaTExxxxSeriesDisplay"]
	path = module/iiyama/IiyamaTExxxxSeriesDisplay
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.IiyamaTExxxxSeriesDisplay.git
[submodule "module/iiyama/IiyamaLExx40SSeriesDisplay"]
	path = module/iiyama/IiyamaLExx40SSeriesDisplay
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.IiyamaLExx40SSeriesDisplay.git
[submodule "module/Extron/ExtronDMP"]
	path = module/Extron/ExtronDMP
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.ExtronDMP.git
[submodule "module/Extron/ExtronDVS605"]
	path = module/Extron/ExtronDVS605
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.ExtronDVS605.git
[submodule "module/Generic/ConfigFromFile"]
	path = module/Generic/ConfigFromFile
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.ConfigFromFile.git
[submodule "module/Panasonic/PanasonicProjector"]
	path = module/Panasonic/PanasonicProjector
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.PanasonicProjector.git
[submodule "module/Panasonic/PanasonicDisplay"]
	path = module/Panasonic/PanasonicDisplay
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.PanasonicDisplay.git
[submodule "module/Generic/SessionManager"]
	path = module/Generic/SessionManager
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.SessionManager.git
[submodule "module/Panasonic/PanasonicCamera"]
	path = module/Panasonic/PanasonicCamera
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.PanasonicCamera.git
[submodule "module/Lightware/LightwareLW3"]
	path = module/Lightware/LightwareLW3
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.LightwareLW3.git
[submodule "module/Denon/DenonDN-500AV"]
	path = module/Denon/DenonDN-500AV
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.DenonDN-500AV.git
[submodule "module/Denon/DenonDN-500BD"]
	path = module/Denon/DenonDN-500BD
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.DenonDN-500BD.git
[submodule "module/Denon/DenonDN-500CB"]
	path = module/Denon/DenonDN-500CB
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.DenonDN-500CB.git
[submodule "module/WolfVision/WolfVisionVisualizer"]
	path = module/WolfVision/WolfVisionVisualizer
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.WolfVisionVisualizer.git
[submodule "module/Yamaha/YamahaBD-A1020"]
	path = module/Yamaha/YamahaBD-A1020
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.YamahaBD-A1020.git
[submodule "module/Epson/EpsonESC-VP21Business"]
	path = module/Epson/EpsonESC-VP21Business
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.EpsonESC-VP21Business.git
[submodule "module/NEC/NECMultiSyncDisplay"]
	path = module/NEC/NECMultiSyncDisplay
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.NECMultiSyncDisplay.git
[submodule "module/Samsung/SamsungSyncMasterDisplay"]
	path = module/Samsung/SamsungSyncMasterDisplay
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.SamsungSyncMasterDisplay.git
