[submodule "module/Extron/ExtronSSP"]
	path = module/Extron/ExtronSSP
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.ExtronSSP.git
[submodule "module/AMX/EnovaDVX"]
	path = module/AMX/EnovaDVX
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.EnovaDVX.git
[submodule "module/AMX/EnovaDGX"]
	path = module/AMX/EnovaDGX
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.EnovaDGX.git
[submodule "module/iiyama/IiyamaTExxxxSeriesDisplay"]
	path = module/iiyama/IiyamaTExxxxSeriesDisplay
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.IiyamaTExxxxSeriesDisplay.git
[submodule "module/iiyama/IiyamaLExx40SSeriesDisplay"]
	path = module/iiyama/IiyamaLExx40SSeriesDisplay
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.IiyamaLExx40SSeriesDisplay.git
[submodule "module/Extron/ExtronDMP"]
	path = module/Extron/ExtronDMP
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.ExtronDMP.git
[submodule "module/Extron/ExtronDVS605"]
	path = module/Extron/ExtronDVS605
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.ExtronDVS605.git
[submodule "module/Generic/ConfigFromFile"]
	path = module/Generic/ConfigFromFile
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.ConfigFromFile.git
[submodule "module/Panasonic/PanasonicProjector"]
	path = module/Panasonic/PanasonicProjector
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.PanasonicProjector.git
[submodule "module/Panasonic/PanasonicDisplay"]
	path = module/Panasonic/PanasonicDisplay
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.PanasonicDisplay.git
[submodule "module/Generic/SessionManager"]
	path = module/Generic/SessionManager
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.SessionManager.git
[submodule "module/Panasonic/PanasonicCamera"]
	path = module/Panasonic/PanasonicCamera
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.PanasonicCamera.git
[submodule "module/Lightware/LightwareLW3"]
	path = module/Lightware/LightwareLW3
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.LightwareLW3.git
[submodule "module/Denon/DenonDN-500AV"]
	path = module/Denon/DenonDN-500AV
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.DenonDN-500AV.git
[submodule "module/Denon/DenonDN-500BD"]
	path = module/Denon/DenonDN-500BD
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.DenonDN-500BD.git
[submodule "module/Denon/DenonDN-500CB"]
	path = module/Denon/DenonDN-500CB
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.DenonDN-500CB.git
[submodule "module/WolfVision/WolfVisionVisualizer"]
	path = module/WolfVision/WolfVisionVisualizer
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.WolfVisionVisualizer.git
[submodule "module/Yamaha/YamahaBD-A1020"]
	path = module/Yamaha/YamahaBD-A1020
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.YamahaBD-A1020.git
[submodule "module/Epson/EpsonESC-VP21Business"]
	path = module/Epson/EpsonESC-VP21Business
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.EpsonESC-VP21Business.git
[submodule "module/NEC/NECMultiSyncDisplay"]
	path = module/NEC/NECMultiSyncDisplay
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.NECMultiSyncDisplay.git
[submodule "module/Samsung/SamsungSyncMasterDisplay"]
	path = module/Samsung/SamsungSyncMasterDisplay
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.SamsungSyncMasterDisplay.git
[submodule "module/LG/LGxxDisplay"]
	path = module/LG/LGxxDisplay
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.LGxxDisplay.git
[submodule "module/PJLink/PJLink"]
	path = module/PJLink/PJLink
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.PJLink.git
[submodule "module/Casio/CasioProjector"]
	path = module/Casio/CasioProjector
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.CasioProjector.git
[submodule "module/AMX/SVSIDecoder"]
	path = module/AMX/SVSIDecoder
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.SVSIDecoder.git
[submodule "module/Metroplan/MetroplanEyelinePro"]
	path = module/Metroplan/MetroplanEyelinePro
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.MetroplanEyelinePro.git
[submodule "module/Visca/ViscaCamera"]
	path = module/Visca/ViscaCamera
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.ViscaCamera.git
[submodule "module/Extron/ExtronMVC121Plus"]
	path = module/Extron/ExtronMVC121Plus
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.ExtronMVC121Plus.git
[submodule "module/Audac/AudacSMQ"]
	path = module/Audac/AudacSMQ
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.AudacSMQ.git
[submodule "module/Generic/GenericCameraUI"]
	path = module/Generic/GenericCameraUI
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.GenericCameraUI.git
[submodule "module/Generic/GenericDocCamUI"]
	path = module/Generic/GenericDocCamUI
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.GenericDocCamUI.git
[submodule "module/Generic/GenericProjectorUI"]
	path = module/Generic/GenericProjectorUI
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.GenericProjectorUI.git
[submodule "module/Generic/GenericIRDevice"]
	path = module/Generic/GenericIRDevice
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.GenericIRDevice.git
[submodule "module/Generic/MatrixSwitcherUI"]
	path = module/Generic/MatrixSwitcherUI
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.MatrixSwitcherUI.git
[submodule "module/Extron/ExtronSW4USB"]
	path = module/Extron/ExtronSW4USB
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.ExtronSW4USB.git
[submodule "module/Extron/ExtronSwitchMLS100A"]
	path = module/Extron/ExtronSwitchMLS100A
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.ExtronSwitchMLS100A.git
[submodule "module/Extron/ExtronSwitchSW-HDMI"]
	path = module/Extron/ExtronSwitchSW-HDMI
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.ExtronSwitchSW-HDMI.git
[submodule "module/Lutron/LutronHomeworks"]
	path = module/Lutron/LutronHomeworks
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.LutronHomeworks.git
[submodule "module/Lutron/LutronQuantum"]
	path = module/Lutron/LutronQuantum
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.LutronQuantum.git
[submodule "module/AMX/AMX-CTC-1402"]
	path = module/AMX/AMX-CTC-1402
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.AMX-CTC-1402.git
[submodule "module/AMX/AMX-NMX-PRS-N7142"]
	path = module/AMX/AMX-NMX-PRS-N7142
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.AMX-NMX-PRS-N7142.git
[submodule "module/AMX/SolecisSwitcher"]
	path = module/AMX/SolecisSwitcher
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.SolecisSwitcher.git
[submodule "module/Sharp/SharpPN-70SC5"]
	path = module/Sharp/SharpPN-70SC5
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.SharpPN-70SC5.git
[submodule "module/Sharp/SharpPN-E702"]
	path = module/Sharp/SharpPN-E702
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.SharpPN-E702.git
[submodule "module/Sharp/SharpPN-R703"]
	path = module/Sharp/SharpPN-R703
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.SharpPN-R703.git
[submodule "module/Smart/SmartDisplay"]
	path = module/Smart/SmartDisplay
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.SmartDisplay.git
[submodule "module/Smart/SmartDisplaySBID-7075"]
	path = module/Smart/SmartDisplaySBID-7075
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.SmartDisplaySBID-7075.git
[submodule "module/VividTouch/VividTouchDisplay"]
	path = module/VividTouch/VividTouchDisplay
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.VividTouchDisplay.git
[submodule "module/Shure/ShureMXA"]
	path = module/Shure/ShureMXA
	url = git@github.com:Norgate-AV/NAVDatabase.Amx.ShureMXA.git
